.check-button ,
  .eliminar-button {
    background-color: 	#76e04f;
    border: none;
    border-radius: 70px; 
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
  }
  
  .eliminar-button {
    background-color: #FF0000;}
  